/* 簡單的樣式設定 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Decimal Converter section */
h1 {
    margin: 0;
}

h2 {
    text-align: center;  /* Align the text in the center */
    margin-bottom: 20px; /* Add some space below the title */
  }

.demical-converter {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dc-input-section {
    margin-bottom: 20px;
}

#decimalInput {
    padding: 8px;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

dc-button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

dc-button:hover {
    background-color: #005bb5;
}

/* 結果顯示區 */
.dc-result-section p {
    display: flex;  /* 啟用 Flexbox */
    align-items: left;  /* 靠左對齊 */
}

p {
    font-size: 18px;
    margin: 10px 0;
}
/* -------------------------------------------------------------------------------------------------- */
/* BMI Calculator section */
.bmi-calculator {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bmi-input-section {
    text-align: center;
    margin-bottom: 20px;
}

.bmi-input-section input {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bmi-input-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bmi-input-section button:hover {
    background-color: #0056b3;
}

bmi-button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

bmi-button:hover {
    background-color: #005bb5;
}

/* Result section */
.bmi-result-section {
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* BMI table */
.bmi-table {
    margin-top: 20px;
}

.bmi-table table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.bmi-table th,
.bmi-table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

/* 設置表格標題的背景顏色 */
.bmi-table th {
    background-color: #f0f0f0;
    /* font-weight: bold; */
}

/* 為不同分類設置顏色 */
.underweight {
    color: #04baa5; /* 藍色 */
}

.normal {
    color: #32cd32; /* 綠色 */
}

.overweight {
    color: #cdcd32; /* 黃色 */
}

.obese-mild {
    color: #ff7300; /* 橙色 */
}

.obese-moderate {
    color: #ff6969; /* 桃紅色 */
}

.obese-severe {
    color: #ff0000; /* 紅色 */
}


/* 懸停效果 */
.bmi-table tr:hover {
    background-color: #f1f1f1;
}

/* Footer */
footer {
    text-align: left;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    margin-top: 20px;
}
/* -------------------------------------------------------------------------------------------------- */
/* Stock */
.stock {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.stk-button {
    text-align: center;
    margin: 20px auto;
  }

.stk-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
stk-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
stk-button:hover {
    background-color: #005bb5;
  }
  
#tradingview-widget {
    width: 100%;
    height: 800px;
    margin-top: 30px; 
  }
  